.LoginContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  /* From https://css.glass */
  background: rgba(17, 15, 29, 0.322);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(10.6px);
  border: 1px solid rgba(255, 255, 255, 0.185);
}

.formwrapper {
  display: flex;
  flex-direction: column;
}

.login,
.create-account {
  font-weight: 700;
  font-size: 24px;
}

label {
  align-self: flex-end;
}

label input {
  background: rgba(17, 15, 29, 0.5);
  border: 1px solid rgba(17, 15, 29, 0.1);
  color: white;
  outline: 0;
  height: 1.5em;
  padding-left: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.submitBtn {
  width: 7em;
  height: 2.5em;
  color: white;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  align-self: center;
  margin: 10px;
  border-radius: 10px;
  background: rgba(17, 15, 29, 0.122);
  border-radius: 10px;
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(10.6px);
  border: 1px solid rgba(255, 255, 255, 0.185);
}

.submitBtn:hover {
  box-shadow: 0 5px 15px rgba(5, 253, 232, 0.2);
  border: 1px solid rgba(1, 105, 250, 0.185);
  &:active {
    transform: scale(1.05);
  }
}

.text {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.errormsg {
  color: rgb(250, 98, 98);
  width: fit-content;
  place-self: center;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
