body {
  background-image: url(../stories-ya8MPjFhx5k-unsplash.jpg);
  background-size: cover;
  background-position: fixed;
}
#root {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header > h1 {
  color: rgb(0, 0, 0);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

li {
  margin: auto;

  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: rgba(10, 0, 46, 0.8);
    }
  }
}

.vl {
  width: 0.1em;
  height: 1.5em;
  background-color: #0000004d;
  margin: 0 10px;
}
