:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  /* From https://css.glass */
  background: rgba(6, 0, 37, 0.35);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(10.6px);
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  max-width: 60%;
}

h3 {
  text-align: left;
  margin-left: 10px;
}
