nav {
  /* From https://css.glass */
  background: rgba(17, 15, 29, 0.322);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(10.6px);
  border: 1px solid rgba(255, 255, 255, 0.185);
  margin-top: 10px;
}

.navList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(255, 255, 255);
  &:hover {
    color: rgba(179, 203, 255, 0.8);
  }
}

.vl {
  width: 0.1em;
  height: 1.5em;
  background-color: #ffffff9f;
  margin: 0 10px;
}
